@font-face {
  font-family: 'Proxima';
  src: url("./assets/fonts/proxima.otf") format('opentype');
}

* {
  font-family: 'Proxima' !important;
}

main {
  width:100%;
  padding: 10px;
}

.menuHeader {
  min-height: 40px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.appbar {
  padding: 2rem;
  display: flex;
}

.menuButton {
  color:white !important;
  margin-right: 5px;
}

.menuList {
  justify-content: center !important;
  height:8rem;
  flex-direction: column;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.menuList:hover {
  background-color:#39DACF !important;
  color: white;
  transition: 0.5s;
  .menuIcons {
    color:white;
    transition: 0.5s;
  }
}

.menuList:active {
  background-color:#39DACF !important;
  color: white;
}

.menuIcons {
  min-width: unset !important;
  svg {
    font-size: 3rem;
  }
}

.searchBox {
  width:100%;
}